<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- <script src="https://cdn.tailwindcss.com"></script> --}}
  <link rel="stylesheet" href="../../public/stylesheets/style.css"> 
  <title>Word Raffle</title>
</head>

<body>
  <div class="wrapper">
    <header>
      <h1> Word Raffle</h1>
         <section class="intro">
            <h3 class="welcome">
            Welcome to Word Raffle, a forum for music lovers! <br/>
            </h3>
            <p class="instructions">
            See how far your knowledge of song lyrics can take you. 
            Given a random word, think of a line from a song that contains that word.
            Give other users' posts a heart if you love what they shared. Comment different lyrics with the same word. 
            How many different song lyrics can a single word generae?
            Login or create an account to be taken to your dashboard, get your random word, and enjoy!
           </p>
          </section>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">Go to My Dashboard</a>
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for stopping by!
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>