<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- <script src="https://cdn.tailwindcss.com"></script> --}}
  <link rel="stylesheet" href="../../public/stylesheets/style.css"> 
  <title>Word Raffle</title>
</head>

<body>
  <div class="wrapper">
    <header>
      <h1> Word Raffle</h1>
      <p class="intro">Welcome to Word Raffle, a test of </p>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for stopping by!
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>