  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

<section>
  <h2>Create A New Post</h2>
<section>
   <div class="generate-word">
    <button class="button is-normal is-responsive" type="button" id="generate-word-btn"> Generate Word </button>
  </div>
</section>
  <form class="new-post-form">
    <div>
      <label for="post-title">Enter Random Word</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-lyrics">Enter Song Lyrics</label>
      <input type="text" id="post-lyrics" name="post-lyrics"/>
    </div>

    <button class="button is-normal is-responsive is-inline" type="submit" id="create-btn">Create Post</button>

    <button type="submit" class="btn">Create Post</button>

  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Posts You've Made</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="../public/javascript/generatebutton.js"></script>

<script src="../public/javascript/add-post.js"></script>