  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">


  <section>
   <div class="generate-word">
    <button class="button is-normal is-responsive" type="button" id="generate-word-btn"> {{randomWord}} </button>
  </div>
</section>


<script src= "../../public/javascript/generatebutton.js"></script>