  
  <section>
   <div class="generate-word">
    <button  class="button is-small has-addons" type="button" id="generate-word-btn"> {{randomWord}} </button>
  </div>
</section>


<script src="../../public/javascript/generatebutton.js"></script>