  
  <section>
   <div class="generate-word">
    <button type="button" class="generate-word-btn"> {{randomWord}} </button>
  </div>
</section>


<script src="../../public/javascript/generatebutton.js"></script>